# What part of wine contributes to the quality?

I was browsing through various datasets when I came across this dataset, recently turning 21 I decided to take a interesting route and look to see what is exactly makes wine good or bad. Obvisouly I don;t know everybod's age in this class so please if your are not 21 please don't use any of this information until you have hit that number and if you are 21 please drink responcibly. Lets take a dive into the world of smashed grapes.

## Dataset

The data was found on kaggle: https://www.kaggle.com/datasets/joebeachcapital/wine-quality . This data set is from 2009,and includes samples of white and redd vinho verde samples from Portugal. The data itself are physicochemical test done on each wine including the quality of each sample. Each sample was tested on eleven things those being: fixed acidity,volatile acidity,citric acid,residdual sugar,chloridess,free sulfur dioxide, total sulfur dioxide, density, ph, suphates, and alcohol.

Installing/Importing all important libraries we may need

In [1]:
%pip install numpy pandas matplotlib seaborn 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#for some reason it is making me use the % instead

Requirement already satisfied: numpy in c:\users\darks\appdata\local\programs\python\python311\lib\site-packages (1.25.2)
Requirement already satisfied: pandas in c:\users\darks\appdata\local\programs\python\python311\lib\site-packages (2.1.0)
Requirement already satisfied: matplotlib in c:\users\darks\appdata\local\programs\python\python311\lib\site-packages (3.7.2)
Requirement already satisfied: seaborn in c:\users\darks\appdata\local\programs\python\python311\lib\site-packages (0.12.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\darks\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\darks\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\darks\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\darks\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\darks\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\darks\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\darks\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\darks\appdata\roaming\python\python311\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\darks\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\darks\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\darks\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Now we will import both csv files

In [2]:
redWine_df = pd.read_csv("originalwinequality-red.csv")
whiteWine_df = pd.read_csv("originalwinequality-white.csv")

Now we will check the first 5 rows of each data set using .head()

In [3]:
redWine_df.head()

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3  11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5

In [4]:
whiteWine_df.head()

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
1  6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
2  8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
3  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
4  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...

This does not look right. So, I went into the csv file to see what went wrong,After trying a couple things and after looking at a example csv used in a previous exercise I came to the realization that the semi colons were the issue after replacing them with commas the chart looked alot better.(I made new updated csv files to show the error above)

In [5]:
redWine_df = pd.read_csv("winequality-red.csv")
whiteWine_df = pd.read_csv("winequality-white.csv")
redWine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [6]:
whiteWine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

That looks a whole lot better, now we just need to make sure that all the data types are correct using .dtypes

In [7]:
whiteWine_df.dtypes
redWine_df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object